# Ignore virtual environment
venv/*

# Ignore Python cache files
__pycache__/*

# Ignore environment variables file
.env

# Ignore macOS system files (optional, but often useful)
.DS_Store

# Ignore additional files (optional, add as needed)
*.pyc
*.pyo

# Ignore SQLite database file
site.db
